ul.menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
	padding: 0;
	li {
		text-decoration: none;
		list-style: none;
		font-size: 1.8rem;
		display: flex;
		flex-direction: row;
		text-transform: uppercase;
		padding-right: 10px;
		a {
			padding: 10px;
		}
	}
}


